[Unit] 
Description=Network testing and failsafe actions

[Service] 
Type=oneshot
ExecStart=/usr/sbin/openstick-gc-guard.sh

[Install] 
WantedBy=multi-user.target

